@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Stack Sans Text", sans-serif;
    background-color:#F7F8F0 ;
    padding: 5%;
}

main{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #7AAACE;
    color: #F7F8F0;
    border-radius: 10px;
    box-shadow:5px 5px 10px 12px rgba(0, 0, 0, 0.1);
}
h1{
    font-size: 40px;
    margin: 20px 0;

}

input{
    width: 100%;
    max-width: 500px;
    padding: 14px;
    border-radius: 10px;
    font-size: 16px;
}
.anime-list{
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 20px;
}

.card{
    background-color: #1e293b;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-5px);
}
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.hidden {
  display: none;
}

.modal-content {
  background: #1e293b;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  position: relative;
}

.modal-content img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 26px;
  cursor: pointer;
}.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.hidden {
  display: none;
}

.modal-content {
  background: #1e293b;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  position: relative;
}

.modal-content img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 26px;
  cursor: pointer;
}.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.hidden {
  display: none;
}

.modal-content {
  background: #1e293b;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  position: relative;
}

.modal-content img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 26px;
  cursor: pointer;
}
